body {
	background-color: #adc387;
	margin: 0;
	padding: 0;
	font-size: 12pt;
	color: #686362;
	line-height: 140%;
}

/* @group Typography */

/* Link Colors */

a {
	color: #557F01;
	text-decoration: underline;
}

a:hover {
	color: #2F462B;
	text-decoration: underline;
}

/* $headerstyle(graphic) */

#header_graphic a img {
	padding-top: 15px; /* Header Text distance from top */

}

/* Total header height */

#header-wrap,#header_text,#header_graphic {
	height: 110px;
	border-bottom:35px solid #557F01;
}

/* Header background color/image */

#header-wrap {
	background-color: #FFFEEE;
	padding: 0;
}
td.header_wrap_container {
	padding: 0;
}

/* $headerstyle(text) */

#header_text h1, #header_text h1 a {
	color: #fff; /* Header Text Color */
	padding-top:15px ; /* Header Text distance from top */
	font: bold 40px/50px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif; /* Header Text Typograhy */
	letter-spacing: -1px;
}
#header_text h2 {
	color: #d4e3b9; /* Slogan Text Color */
	font: italic bold 18px/18px Geneva, Verdana, sans-serif;/* Slogan Text Typograhy */
}

/* Heading Styles */

h1 {
	color: #2f462b;
	text-align: center;
}

h2 {
	color: #690;
}

h3 {
	color: #727272;
}

h4 {
	color: #727272;
}

blockquote {
	border: 1px solid #adc387;
	background-color: #e4edd5;
}

.footer {
	color: #6f6f6f;
}

/* @end */

/* @group Newsflash Module */

#headermod {
	height: 98px; /* Module Height */
	width: 500px; /* Module Width */
	top:10px; /* Distance from top */
	color: #dbded3; /* Text Color */
}
#headermod .contentheading,#headermod a.contentpagetitle,#headermod a {
	color: #f9f9f2;/* Heading/Link Color */
}

#headermod td.contentheading,#headermod .moduletable h3 {
	border-bottom: 1px solid #43643d;/* Content/Module Heading Border */
}

/* @end */

/* @group Joomla! Styles */

/* Category Tables */
td.sectiontableheader {
color: #fff;
background-color: #557f01;
font: 14px/20px Arial, Helvetica, Geneva, sans-serif;
}
table tr.sectiontableentry1 td,
table td.sectiontableentry1 {
background: #fff;
padding: 4px;
border-bottom: 1px solid #f0f0f0;
line-height: 155%;
}
table tr.sectiontableentry2 td,
table td.sectiontableentry2 {
background: #fff;
padding: 4px;
border-bottom: 1px solid #f0f0f0;
line-height: 155%;
}
/* Polls */
table.pollstableborder td.sectiontableentry1 {
color: #3d2518;
background: #f8f8f8;
padding: 2px;
border-bottom: 1px solid #fff;
}
table.pollstableborder td.sectiontableentry2 {
color: #3d2518;
background: #f2f2f2;
padding: 2px;
border-bottom: 1px solid #fff;
}
table.pollstableborder td.sectiontableheader {
padding: 8px;
color: #fff;
border: none;
}
table.pollstableborder tr.sectiontableentry1 td {
border: none;
}
table.pollstableborder tr.sectiontableentry2 td {
border: none;
}
/* Article Overflow */

div.blog_more {
	border-top: 1px solid #e6e6d4;
}
div.blog_more ul li a {
	border-bottom: 1px solid #dadacc;
}
div.blog_more ul li a:hover {
	border-bottom: 1px solid #dadacc;
	background-color: #fefdf2;
}
/* Mosimages */
div.mosimage {
	border: 1px solid #ccc;
	background: #f7f7f7;
}
div.mosimage_caption {
	color: #666;
	background: #fff;
	border-top: 1px solid #ccc;
}
/* Content Headings */
a.contentpagetitle {
	color: #470705;
}
a.contentpagetitle:hover {
	color: #000;	
}
td.contentheading {
	border-bottom: 1px solid #efefdd;
	color: #466A02;
}
.contentheading {
	color: #466A02;
}
.componentheading {
	color: #2f462b;
}

span.small,.createdate,.modifydate {
	font: 10px/10px Tahoma, Lucida, Verdana, sans-serif;
	color: #adc387;
}
.pagenav_next a,.pagenav_prev a {
	background: #e4edd5;
	border: 1px solid #adc387;
	color: #8fa26f;
}
div.back_button a {
	background: #e4edd5;
	border: 1px solid #adc387;
	color: #8fa26f;
}
.pagenav_next a:hover,.pagenav_prev a:hover,div.back_button a:hover {
	background-color: #fff;
	color: #8fa26f;
}
table.contenttoc {
	background-color: #f5f2e1;
	border: 1px solid #e8e6d8;
}
table.contenttoc th {
	background-color: #557f01;
	color: #fffef1;
}


/* @end */

.faqitemtable thead {
  display: none;
}